@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700&display=swap')


$corPrincipal: #463f3a
$corSecundaria: #f4f3ee
$texto: #333533
$animacao: 2s ease-in-out

*
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: 'Montserrat', sans-serif

h2,h3,h4
    margin-bottom: .625rem

h2
    font-size: 5rem
    font-weight: 700
    text-transform: uppercase

h3
    font-size: 3.121rem
    font-weight: 300

h4, p
    font-size: 1.25rem
    font-weight: 600

a
    text-decoration: none
    color: $texto

ul,li
    list-style: none

img
    max-width: 100%
    vertical-align: top